@import "antd/dist/antd.css";
.App {
  text-align: center;
}

ul,
li {
  list-style: none;
}

#components-layout-demo-fixed .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  background: #fff;
}

.link {
  text-decoration: none;
}

.todoContainer {
  padding: 2rem 0px;
}

.title {
  display: inline-block;
}
